# CODEOWNERS  
 - Tien Thinh NGUYEN, Eurecom
 - Lionel GAUTHIER , Eurecom
 - Rohan KHARADE, OSA
 - Sebastien ROUX, Eurecom
 - Robert SCHMIDT, Eurecom
 - Raphael DEFOSSEUX, OSA
 - Stefan Spettel, phine.tech
 
 
 